<mat-card class="m-5">
    <mat-card-title>Application Setting</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>  -->
        <div class="container">
            <div class="row">
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <mat-card-content>
                    <h2 class="example-h2">Active/InActive</h2>

                    <section class="example-section">
                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                            [disabled]="disabled">
                            Active me!
                        </mat-slide-toggle>
                    </section>
                </mat-card-content>
            </div>
        </div>
    </mat-card-actions>
</mat-card>