<div class="container">
    <div class="row p-3">
        <h1 class="py-4">User Created Teams Listed
        </h1>
        <div class="col-md-12">
            <mat-chip-list aria-label="Fish selection">
                <!-- <mat-chip style="background-color: green; color: white;">Live</mat-chip>
                <mat-chip style="background-color: skyblue; color: white;">upcoming</mat-chip>
                <mat-chip style="background-color: red; color: white;">result</mat-chip> -->
            </mat-chip-list>
        </div>
        <br>
        <div *ngFor="let item of data" class="col-md-4 mt-3 p-3">
           <mat-card  class="example-card">
            <mat-card-title-group>
                <mat-card-title> Match Id:  {{item.teamId}} </mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                <img mat-card-sm-image src="assets/logo.png">
            </mat-card-title-group>
            <mat-card-content>
                {{longText}}
            </mat-card-content>
            </mat-card>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Team Details
                    </mat-panel-title>
                   </mat-expansion-panel-header>
                   <div >
                       <table class="table" cellpadding="1"cellspacing="2">
                           <thead> 
                               <tr>
                                   <td>Player Id</td>
                                   <td>Name</td>
                                   <td>Credit Point</td>
                                   <td>Player Point</td>
                               </tr>
                           </thead>
                           <tbody>
                               <tr *ngFor="let item of item.player11">
                                   <td> {{item.pid}} </td>
                                   <td> {{item.name}} </td>
                                   <td> {{item.credit}} </td>
                                   <td> {{item.point}} </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- <div class="card">
                <section>
                <div class="left">
                    <img [src]="item.teama.logo_url" width="110px" alt="">
                </div>
               <div class="">
                <p style="text-align: center;">jhgf</p>
            </div>
            <div class="right">
                    <img [src]="item.teamb.logo_url" width="110px" alt="">
                </div>
                
              </section>
           </div> -->

        </div>
    </div>
</div>