<mat-card class="m-5">
    <mat-card-title class="d-flex justify-content-center m-2">Add Banner</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-actions>
    
        <div class="container">
            <div class="row">
                <form>
                    <!-- [formGroup]="addCat" (ngSubmit)="add()" -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Category Name</label>
                        <input class="form-control" [(ngModel)]="images" (change)="onFileChanged($event)" name="images"
                            required type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <button mat-stroked-button (click)="onClick()" type="submit" color="primary">Add
                            Category</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-actions>
</mat-card>