<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="width: 14%;" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/user']" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-list-item [routerLink]="['user/list']" routerLinkActive="router-link-active">User List</a>
      <a mat-list-item [routerLink]="['/coupons']" routerLinkActive="router-link-active">Coupons</a>
      <a mat-list-item [routerLink]="['/user-documents']" routerLinkActive="router-link-active">User Document</a>
      <a mat-list-item [routerLink]="['/user-transaction']" routerLinkActive="router-link-active">User Transactions</a>
      <a mat-list-item [routerLink]="['/banners']" routerLinkActive="router-link-active">Banners</a>
      <a mat-list-item [routerLink]="['/app-setting']" routerLinkActive="router-link-active">App Setting</a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contest Menu
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item [routerLink]="['contest/categories']">Contest Categories</a>
          <a mat-list-item [routerLink]="['contest/add']">Contest Add</a>
          <a mat-list-item [routerLink]="['contest/slots']">Add Slots</a>
          <a mat-list-item [routerLink]="['contest/list']">Contest List</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add Web Pages
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item [routerLink]="['page/add']">Add Content </a>
          <a *ngFor="let item of list" mat-list-item [routerLink]="['page/detail/',item._id]">{{item.title}} </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Teams
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list dense>
            <mat-list-item [routerLink]="['/entity-sport']" routerLinkActive="router-link-active">
              {{'Live Match'}}
            </mat-list-item>
            <mat-list-item [routerLink]="['/entity-sport/upcoming-match']" routerLinkActive="router-link-active">
              {{'upcoming Match'}}
            </mat-list-item>
            <mat-list-item [routerLink]="['/entity-sport/result-match']" routerLinkActive="router-link-active">
              {{'result Match'}}
            </mat-list-item>
          </mat-list>
          <!-- <a mat-list-item [routerLink]="['page/add']">Add Content </a>
          <a *ngFor="let item of list" mat-list-item [routerLink]="['page/detail/',item._id]">{{item.title}} </a> -->
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              User Teams
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list dense>
            <mat-list-item [routerLink]="['/users/teams']" routerLinkActive="router-link-active">
              User Create Teams
            </mat-list-item>
            <mat-list-item [routerLink]="['/users/winnings']" routerLinkActive="router-link-active">
              User Winning
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>stumps11</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>